.home-container {
    width:100%;
    padding: 20px;
    display:flex;
    flex-direction: column;
    gap:15px;
}
.menu-btn {
    background-color: transparent;
    border:none;
    outline:none;
    cursor:pointer;
    position:absolute;
    top:25px;
    right:25px;
}
.menu-icon{
    color:var(--tg-theme-text-color);
    width:30px;
    height:30px;
}
.menu {
    background-color: white;
    border-radius: 5px;
    position:absolute;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.3);
    top:70px;
    right:20px;
    padding:15px;
    z-index:10;
    & ul {
        list-style: none;
        text-align: right;

        & li {
            margin-bottom: 10px;
            cursor:pointer;
        }
    }
}

.main-title {
    font-size: 19px;
    color:var(--tg-theme-text-color);
}
.expertise-list {
    list-style: none;
    color:var(--tg-theme-text-color);
}