.contact-title {
    font-size: 12px;
    font-weight: 800;
    color:var(--tg-theme-text-color);
}
.contact-item {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}