.home-container {
    width:100%;
    padding: 20px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.close-btn {
/*     width:25px;
    height:25px; */
/*     background-image: url('../../images/close.svg');
    background-position: center; */
    background-color: transparent;
    border:none;
    outline:none;
    cursor:pointer;
    position:absolute;
    top:20px;
    right:20px;
}
.close-icon{
    color:var(--tg-theme-text-color);
    width:55px;
    height:55px;
}
.main-title {
    font-size: 19px;
    color:var(--tg-theme-text-color);
}
.expertise-list {
    list-style: none;
    font-size: 12px;
    color:var(--tg-theme-text-color);
}
.section {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:5px;
    gap:10px;
}
.section-one {
    background-image: url('../../images/photo.jpg');
    background-size: cover;
    background-position: top left;
    min-height: 350px;
}
.section-two {
    background-color: blueviolet;
/*     background-image: url('../../images/photo.jpg'); */
    background-size: cover;
    background-position: bottom left;
    min-height: 200px;
}
.section-contant {
    background-color: var(--tg-theme-bg-color);
    padding:10px;
    border-radius: 10px;
}
.section-text {
    font-size: 12px;
    font-weight: 800;
    color:var(--tg-theme-text-color);
    margin-bottom: 10px;
}
.read-more {
    font-size: 13px;
    font-weight: 800;
    color:var(--tg-theme-link-color);
}